html, body {
  margin: 0;
  padding: 10px;
  background-color: #111111;
  user-select: none;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  font-family: sans-serif
}
button{
  background-color: brown;
  border: 1px solid red;
  padding:10px 20px;
  border-radius:2.3px;
  font-weight: bold;
  cursor:pointer;
  transition: 1s;
  color: white;
}
button:hover{
  background-color: #111111;
  color: red;
}
form{
  display: flex;
  gap: 7px;
  align-items: center;
  margin: auto;
  width: 300px;
  justify-content: flex-end;
}
input{
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 2.3px;
  background-color: #232323;
  color: whitesmoke;
  transition: 0.5s;
}
input:focus{
  padding: 10px 50px;
}
.main-container{
  width: 73%;
  margin: auto;
  background-color: #171717;
  padding:10px;
  margin-top: 10px;
  display: flex;
  gap:20px;
  flex-direction: row;
  overflow: scroll;
}
.back-btn{
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  color: rgba(220, 220, 220, 0.7);
  padding: 5px 10px;
  padding-top: 23px;
  gap:10px
}
.movie-container{
  width:fit-content;
  padding:10px;
  background-color: #111111;
  border-radius: 2.3px;
  color: whitesmoke;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor:pointer;
  flex-shrink: 0;
}
.movie-container p{
  color: darkgray;
  flex: 2;
}
h3{
  margin:15px 0px 0px;
}
.error-msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  color:white;
  text-align: center;
  margin: 30px auto;
}
.movie-container .badge{
  position: absolute;
  top:0;
  background-color: yellow;
  font-weight: bold;
  padding:5px 10px;
  color: #151515;
}

.movie-container img{
  height: 350px;
  width: 100%;
}
header{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap:20px;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid rgba(220, 220, 220, 0.3);
  padding-bottom: 10px;
  margin-bottom: 50px;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.title{
  display:flex;
  margin: auto;
  align-items: center;
  gap:15px;
  filter: drop-shadow(1px 1px 20px rgba(255, 0, 0, 0.5));
  padding: 0;
}
.title h1{
  color:#FF0000;
  font-size: 5rem;
  padding: 0;
  margin: 0;
}
.title svg{
  height: 70px;
  width: 70px;
}
.title span{
  font-size: 5.5rem;
  color: whitesmoke;
  border-bottom: 2px solid red;
  padding: 0;
}
.secondary-title{
  width: 70%;
  font-size: 1.9rem;
  padding-top: 20px;
  margin: auto;
  color: whitesmoke;
  filter: drop-shadow(1px 1px 20px rgba(255, 255, 255, 0.3));
}
.secondary-title h3{
  font-weight: 400;
}
.icon{
  height: 100px;
  width: 100px;
}
.error-page, .notfound-page{
  display: flex;
  color: rgba(245, 245, 245, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:50px;
}
.hidden{
  display: none;
}
.movie-dashboard{
  display: flex;
  gap: 30px;
  padding: 20px;
  color: rgba(245, 245, 245, 0.7);
}
.results-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 80%;
}
.hero-section{
  background-color: #111111;
  height: 780px;
  margin-top: 50px;
  text-align: center;
  background-image: url(./assets/photo-1489599849927-2ee91cede3ba.avif);
  background-size: cover;
  background-position: bottom;
  background-blend-mode:lighten;
}
.left-arrow, .right-arrow{
  height: 70px;
  width: 79px;
  fill: rgba(245, 245, 245, 0.5);
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 5;
}
.left-arrow{
  left: 5%;
}
.right-arrow{
  right: 5%;
}
.hero-section h1{
  color: whitesmoke;
  padding: 50px 10px 0px 10px;
}
.hero-section p {
  width: 70%;
  max-width: 950px;
  margin: auto;
  color: whitesmoke;
}
.hero-section button{
  margin-top: 30px;
}
.info-section{
  background-color: #111111;
  height: 700px;
  margin-top: 50px;
  text-align: center;
}
footer{
  text-align: center;
  margin-top: 100px;
  color: rgba(220, 220, 220, 0.5);
}
.marquee {
  width: 100%;
  margin-top: 30px;
  line-height: 50px;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee svg{
  height: 70px;
  width: 70px;
  fill: rgba(245, 245, 245, 0.3);
  margin:0 70px;
}
.marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
.red-section{
  margin: auto;
  width: 100%;
  background-image: url(./assets/film.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  position: relative;
}
.trailer-container{
  background-color: rgba(165, 42, 42, 0.7);
  height: 500px;
  width: 650px;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  transition: 0.5s;
  flex: 1, 1, auto;
}
.trailer-container:hover{
  transform: scale(1.1);
}
.carousel{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}
iframe{
  border: 2px solid darkred;
  width: 100%;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
@media screen and (max-width: 700px) {
  .movie-dashboard{
    flex-direction: column;
  }
  header{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .main-container, .secondary-title{
    width: 95%;
  }
  input:focus{
    padding: 10px 43px;
  }
  form{
    justify-content: center;
  }
  h1, h3{
    font-size: 1.7rem;
  }
  .title h1{
    font-size: 3.5rem;
  }
  .title svg{
    height: 50px;
    width: 50px;
  }
  .title span{
    font-size: 4rem;
  }
  .secondary-title{
    font-size: 1.5rem;
    padding-top: 0;
  }
  .movie-dashboard{
    padding: 0;
  }
  .hero-section p{
    width: 100%;
  }
  .hero-section{
    margin: 0;
    width: 100%;
  }
  .trailer-container{
    width: 100%;
  }
  .left-arrow{
    left: -15px;
    height: 50px;
    width: 50px;
  }
  .right-arrow{
    right: -15px;
    height: 50px;
    width: 50px;
  }
}